<% start_date = params[:start_date].blank? ? DateTime.now : convert_time(params[:start_date]) %>
<%= form_with(model: meeting, url: method == :PATCH ? meeting_path(meeting) : location_meetings_path(start_date: @start_time), html: { method: method}, class: "contents") do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(meeting.errors.count, "error") %> Prohibited this shift from being saved:</h2>
      <ul>
        <% meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :employee %>
    <%= form.select :user_id, options_for_select(@users, meeting.user ? meeting.user.id : @users[0]), {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :start_time %>
    <%= form.datetime_field :start_time, value: meeting.start_time || start_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :end_time %>
    <%= form.datetime_field :end_time, value: meeting.end_time || start_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%# form.hidden_field :end_time, value: convert_time(start_time).strftime("%Y-%m-%d")%>
    <%# form.label :end_time %>
    <%# form.time_field :end_time, value: convert_time(start_time).strftime("%Y-%m-%dT%H:%M"), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex align-items-center justify-content-evenly gap-3">
    <%= form.submit class: "rounded-lg py-3 px-3 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <%# link_to "Back to meetings", weekly_location_meetings_path(start_time: @meeting.start_date), class: " rounded-lg py-3 px-3 bg-gray-100 inline-block font-medium" %>

<% end %>
    <% if method == :PATCH %>
      <%= button_to "Delete", meeting_path(@meeting), method: :delete, params: { redirect_url: request.referer }, class: "rounded-lg py-3 px-3 bg-gray-100 font-medium" %>
    <% end %>
    <%= link_to "Cancel", request.referer, class: "rounded-lg py-3 px-3 bg-gray-100 inline-block font-medium" %>
  </div>

<script>
    document.addEventListener("keydown", (e) => {
      if (e.keyCode == 27) {
        history.back();
      }
    })
</script>