<div id="<%= dom_id meeting %>" style="pointerEvents:none">
  <p class="my-5">
    <strong class="block font-medium mb-1">Employee:</strong>
    <%= meeting.user_full_name  %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= fetch_date_from_date(meeting.start_time) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">From:</strong>
    <%= meeting.shift_from_to %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this shift", meeting, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this shift", edit_meeting_path(meeting), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
