  <%# TODO: add color to user and display the background of their meeting with it %>
  <% if current_user.admin_user?  %>
    <% if current_user.email == meeting.user.email  %>
        <li class="event current-user-shift <%= classes %>">
          <%= link_to "#{meeting.user_name} #{meeting.monthly_shift_hours}", meeting_path(meeting) %>
        </li>
    <% else %>
        <li class="event">
          <%= link_to "#{meeting.user_name} #{meeting.monthly_shift_hours}", meeting_path(meeting) %>
        </li>
    <% end %>
  <% else %>
   <% if current_user.email == meeting.user.email  %>
        <li class="event current-user-shift <%= classes %>">
          <%= "#{meeting.user_name} #{meeting.monthly_shift_hours}" %>
        </li>
    <% else %>
        <li class="event">
          <%= "#{meeting.user_name} #{meeting.monthly_shift_hours}" %>
        </li>
    <% end %> 
  <% end %>