<% redirect_url = request.referer %>

<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @meeting %>

    <%= link_to "Edit this shift", edit_meeting_path(@meeting), class: "mt-2 rounded-lg py-3 px-3 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ">
      <%= button_to "Delete this shift", meeting_path(@meeting), method: :delete, params: { redirect_url: redirect_url }, class: "mt-2 rounded-lg py-3 px-3 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Cancel", 'javascript:history.back()' || root_path, class: " rounded-lg py-3 px-3 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
