<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
  <%=form_for(@company, as: "company", url: method == :POST ? companies_path : edit_company_path, html: { method: method }) do |f| %>
    <%= render partial: "shared/text_field", locals: { form: f, label: "name" , field: "name"  } %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="flex items-center justify-content-evenly">
          <%= render partial: "shared/button", locals: { display_text: method == :POST ? "Create" : "Update" } %>
          <%= render partial: "shared/cancel_button" %>
    </div>
  <% end %>
</div>