<div class="calendar-heading <%= current.downcase %>">
  <%= render layout: "shared/header" do %>
    <%= render layout: "shared/tooltip", locals: { text: "Previous month"} do %>
      <%= link_to t('simple_calendar.previous', default: '<'), calendar.url_for_previous_view %>
    <% end %>
    <%= render layout: "shared/tooltip", locals: { text: "Next month"} do %>
      <%= link_to t('simple_calendar.next', default: '>'), calendar.url_for_next_view %>
    <% end %>
    <div class="calendar-title"><%= calendar.current_month_in_string %> <%= calendar.year%></div>
  <% end %>

  <%= link_to "Today", current.downcase == "month" ? root_path : meetings_weekly_path, class: "today-btn" %>

  <%= render partial: "shared/dropdown", locals: { current: current, options: { "Week": meetings_weekly_path, "Month": root_path} } %>
  <div class="user-name"><%= current_user.full_name %></div>
  
  <%= render partial: "shared/icons/hamburger" %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector(".today-btn").addEventListener("click", (e) => {
    })
  })
</script>
