
  <div class="calendar-heading">
    <%= render layout: "shared/header" do %>
      <%= render layout: "shared/tooltip", locals: { text: "Previous month"} do %>
        <%= link_to t('simple_calendar.previous', default: '<'), calendar.url_for_previous_view %>
      <% end %>
      <%= render layout: "shared/tooltip", locals: { text: "Next month"} do %>
        <%= link_to t('simple_calendar.next', default: '>'), calendar.url_for_next_view %>
      <% end %>
      <div class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></div>
      <%= render partial: "shared/dropdown", locals: { current: current, options: { "Week": meetings_weekly_path, "Month": root_path} } %>
    <% end %>
    <div><%= current_user.full_name %></div>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: {confirm: "are you sure"} %>
    <%= button_to "Edit Profile", edit_user_registration_path, method: :get %>
  </div>