<div class="center-body">
  <% if current_user %>
      <%= month_calendar(events: @meetings) do |date, meetings| %>
        <%# TODO: make a scope of morning shift, night evening shift, all day shift %>
        <% morning_shifts = meetings.select { |meeting| meeting.morning_shift? } %>
        <% evening_shifts = meetings.select { |meeting| meeting.evening_shift? } %>
        <% all_day_shifts = meetings.select { |meeting| !meeting.morning_shift? && !meeting.evening_shift? } %>

        <div class="monthly-date"> <%= date.day %> </div>

        <%= link_to meetings_weekly_path(start_date: date), class: "flex flex-col gap-2" do %>
          <div class="monthly-shifts">
            <%= render partial: "day_offs", locals: { date: date }  %>
            
            <% if all_day_shifts.present? %>
            <%# TODO: create a meetings partial that takes in the meetings and renders %>
              <div class="all-day-shifts all-color all-day-outline shadow">
                <% all_day_shifts.each do |meeting| %>
                  <%= render partial: "meetings/monthly_meeting", locals: { meeting: meeting } %>
                <% end %>
              </div>
            <% end %>

            <% if morning_shifts.present? %>
              <div class="morning-shift morning-color shadow">
                <% morning_shifts.each do |meeting| %>
                  <%= render partial: "meetings/monthly_meeting", locals: { meeting: meeting } %>
                <% end %>
              </div>
            <% end %>

            <% if evening_shifts.present? %>
              <div class="evening-shifts evening-color shadow">
                <% evening_shifts.each do |meeting| %>
                  <%= render partial: "meetings/monthly_meeting", locals: { meeting: meeting } %>
                <% end %>
              </div>
            <% end %>

        <% end %>
    <% end  %>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>
</div>



<script>
  document.addEventListener('DOMContentLoaded', () => {
   // document.querySelectorAll(".day").forEach(day => {
   //   day.addEventListener("click", (e) => {
   //     e.stopPropagation()
   //     const targetDate = new Date(document.querySelector(".calendar-title").innerHTML.split(" ").join(`,${e.currentTarget.innerText},`))

   //     let displayDate = document.querySelector("#target-date")
   //     displayDate.innerText = ""
   //     displayDate.innerText += targetDate.toLocaleDateString()
   //     document.querySelector("#myModal").style.display = "block"
   //     console.log(targetDate)
   //   })
   // })
  })
</script>