<%= render layout: "shared/modal", locals: { modal_title: "Create a schdule for " }  do %>
  <%= render partial: "meetings/form", locals: { meeting: Meeting.new} %>
<% end %>

<% if current_user %>
  <h1>Welcome, <%= current_user.full_name %></h1>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: {confirm: "are you sure"} %>
  <div class="m-6 text-center">
    <%= month_calendar(events: @meetings) do |date, meetings| %>
      <%= date.day %>
      <% if !meetings.empty? %>
        <div>
          <% meetings.each do |meeting| %>
              <%= render partial: "meetings/custom_meeting", locals: { meeting: meeting} %>
          <% end %>
        </div>
      <% end  %>
      
    <% end %>
    <%= week_calendar do |date|  %>
      <%= date.day %>
    <% end %>
     <%#= render partial: "simple_calendar/calendar" %>
  </div>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>
<%# document.querySelector(".calendar-title").innerHTML.split(" ").join(",11,") %>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll(".day").forEach(day => {
      day.addEventListener("click", (e) => {
        e.stopPropagation()
        const targetDate = new Date(document.querySelector(".calendar-title").innerHTML.split(" ").join(`,${e.currentTarget.innerText},`))

        let displayDate = document.querySelector("#target-date")
        displayDate.innerText = ""
        displayDate.innerText += targetDate.toLocaleDateString()
        document.querySelector("#myModal").style.display = "block"
        console.log(targetDate)
      })
    })
  })
</script>