<div class="center-body">
  <% if current_user %>
      <%= month_calendar(events: @meetings) do |date, meetings| %>
        <% morning_shifts = meetings.select { |meeting| meeting.morning_shift? } %>
        <% evening_shifts = meetings.select { |meeting| meeting.evening_shift? } %>
        <% all_day_shifts = meetings.select { |meeting| !meeting.morning_shift? && !meeting.evening_shift? } %>

        <div class="monthly-date"> <%= date.day %> </div>

        <%= link_to meetings_weekly_path(start_date: date), class: "flex flex-col gap-2" do %>
          <div class="monthly-shifts">
            <% if DayOff.for_day_filtered_by_date(date).present? %>
              <% all_day_offs = DayOff.all_day_offs(date.in_time_zone) %>
              <% morning_day_offs = DayOff.morning_day_offs(date.in_time_zone)  %>
              <% evening_day_offs = DayOff.evening_day_offs(date.in_time_zone)  %>

              <% if all_day_offs.present? %>
                <% all_day_offs.each do |day_off| %>
                  <div class="day-off all-color shadow"> <%= day_off.off_time_info(date.in_time_zone)%> </div>
                <% end %>
              <% else %>
                <% morning_day_offs.each do |day_off| %>
                  <div class="day-off morning-color shadow"> <%= day_off.off_time_info(date.in_time_zone)%> </div>
                <% end %>
                <% evening_day_offs.each do |day_off| %>
                  <div class="day-off evening-color shadow">  <%= day_off.off_time_info(date.in_time_zone)%> </div>
                <% end %>
              <% end %>
            <% end %>
            
            <% if all_day_shifts.present? %>
              <div class="all-day-shifts all-color all-day-outline shadow">
                <% all_day_shifts.each do |meeting| %>
                  <%= render partial: "meetings/monthly_meeting", locals: { meeting: meeting } %>
                <% end %>
              </div>
            <% end %>

            <% if morning_shifts.present? %>
              <div class="morning-shift morning-color shadow">
                <% morning_shifts.each do |meeting| %>
                  <%= render partial: "meetings/monthly_meeting", locals: { meeting: meeting } %>
                <% end %>
              </div>
            <% end %>

            <% if evening_shifts.present? %>
              <div class="evening-shifts evening-color shadow">
                <% evening_shifts.each do |meeting| %>
                  <%= render partial: "meetings/monthly_meeting", locals: { meeting: meeting } %>
                <% end %>
              </div>
            <% end %>

        <% end %>
    <% end  %>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>
</div>



<script>
  document.addEventListener('DOMContentLoaded', () => {
   // document.querySelectorAll(".day").forEach(day => {
   //   day.addEventListener("click", (e) => {
   //     e.stopPropagation()
   //     const targetDate = new Date(document.querySelector(".calendar-title").innerHTML.split(" ").join(`,${e.currentTarget.innerText},`))

   //     let displayDate = document.querySelector("#target-date")
   //     displayDate.innerText = ""
   //     displayDate.innerText += targetDate.toLocaleDateString()
   //     document.querySelector("#myModal").style.display = "block"
   //     console.log(targetDate)
   //   })
   // })
  })
</script>