<% target_date_range = [] %>
<% new_start_date ="18 Nov 2023" %>
<%= render layout: "shared/modal", locals: { modal_title: "Create a schdule for " }  do %>
  <%# render partial: "meetings/form", locals: { meeting: Meeting.new} %>
<% end %>


<div class="simple-calendar">
  <%= render partial: 'shared/calendar_header', locals: { calendar: calendar, start_date: date_range[0], current: "Month"} %>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7).with_index do |week, idx| %>
        <tr class="week-<%= idx %>" data-date-range=<%= date_range %> data-link="<%= meetings_weekly_path(start_date: week[0])%>" >
            <% week.each do |day| %>
                <%= content_tag :td, class: calendar.td_classes_for(day), data: {date:day}  do %>
                  <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                    <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                  <% else %>
                    <% passed_block.call day, sorted_events.fetch(day, []) %>
                  <% end %>
              <% end %>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll("tr[class^='week-']").forEach(week => {
      week.addEventListener("click", (e) => {
        window.location = e.currentTarget.getAttribute("data-link")
        <%#
        document.querySelector("#myModal").style.display = "block"
          %>
      })
    })

    document.querySelectorAll(".day").forEach(day => {
      day.addEventListener("click", (e) => {
        window.startDate = new Date(e.target.getAttribute("data-date"))
      })

    })
  })
</script>