<div class="monthly-calendar">
  <%= render partial: 'shared/calendar_header', locals: { calendar: calendar, start_date: Time.now, current: "Month"} %>

  <table class="table-header table-striped">
    <thead>
      <tr class="day-name-container">
        <% date_range.slice(0, 7).each do |day| %>
          <th class="day-name"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7).with_index do |week, idx| %>
        <tr class="week-<%= idx %>" 
            data-controller='monthly-calendar-row'
            data-date-range=<%= date_range %>
            data-monthly-calendar-row-url-value="<%= weekly_location_meetings_path(start_date: week[0])%>" 
            data-action="click->monthly-calendar-row#navigate">
            <% week.each do |day| %>
                <%= content_tag :td, class: calendar.td_classes_for(day), data: {date:day}  do %>
                  <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                    <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                  <% else %>
                    <% passed_block.call day, sorted_events.fetch(day, []) %>
                  <% end %>
              <% end %>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
