<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %></span>
    <% else %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %> - <%= calendar.end_week %></span>
    <% end %>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr class="text-center">
        <th class="table-header-hour"></th>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr id="weekly">
          <td class="text-center" >
            <div class="mh1"></div>
            <div id="time-column">
              <% (8..20).each do |hour| %>
                <div class="hour-cell"><%= hour < 12 ? "#{hour}AM" : "#{hour - 11}PM" %></div>
              <% end %>
            </div>
          </td>

          <% week.each do |day| %>

            <%= content_tag :td, data: { date: day.to_s },class: calendar.td_classes_for(day).push("flex-col")  do %>
              <%# link_to "TEST", new_meeting_path( start_date: day ) %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
              <div class="flex flex-col">
                <% (8..21).each do |time| %>
                  <div class="hour-cell <%= idx_to_time(time) %>'o-clock" data-time=<% time %> >
                  <%# passed_block.call day, sorted_events.fetch(day, []) %>
                    <% sorted_events.fetch(day, []).each do |event| %>
                    <%# debugger %>
                      <% if event.shift_belongs_to_hour?(time) %>
                        <%= render partial: "meetings/weekly_meeting", locals: {meeting: event} %>
                      <% end %>
                    <% end %>
                 </div>
                <% end %>
              </div>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

