<!DOCTYPE html>
<html>
  <head>
    <title>RailsScheduleAp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p class="text-center mt-5 notice"><%= notice %></p>
    <p class="text-center mt-5 alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
