<!DOCTYPE html>
<html>
  <head>
    <title>Schedule App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1.5">
    <meta name="view-transition" content="same-origin" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if notice.present? || alert.present? %>
      <%= render layout: "shared/modal", locals: { modal_title: "Notification(s)", open: true } do %>
        <p class="text-center notice"><%= notice %></p>
        <p class="text-center alert"><%= alert %></p>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>

<script>
  document.addEventListener("turbo:load", () => {
    document.querySelectorAll("a[href]").forEach(a => {
      a.dataset.turboPrefetch = "false";
    });
  });
</script>