<!DOCTYPE html>
<html>
  <head>
    <title>RailsScheduleAp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render layout: "shared/modal", locals: { modal_title: "Notification", display: notice || alert ? true : false }  do %>
      <p class="text-center notice"><%= notice %></p>
      <p class="text-center alert"><%= alert %></p>
    <% end %>

    <div class="m-6 text-center">
      <%= yield %>
    </div>
  </body>
</html>
